@model academiadospeixinhoscloud.Models.Produto

@{
    ViewData["Title"] = "Editar Produto";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-5">
    <h1>Editar Produto</h1>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Nome" class="control-label">Nome</label>
                    <input asp-for="Nome" class="form-control" placeholder="Nome do produto" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Preco" class="control-label">Preço</label>
                    <input asp-for="Preco" type="text" class="form-control" placeholder="Preço do produto" />
                    <span asp-validation-for="Preco" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Descricao" class="control-label">Descrição</label>
                    <textarea asp-for="Descricao" class="form-control" placeholder="Descrição do produto"></textarea>
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>

                <div class="form-group text-right">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
                </div>
            </form>
        </div>
    </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
