<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscrições e Atividades</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card img {
            width: 100%; 
        }

        .parte-dois {
            display: flex;
        }

        .metade {
            flex: 0 0 50%;
        }

        .vaga-box {
            border: 1px solid #000;
            width: 40%;
            height:50%;
            padding: 50px;
            text-align: center;
            position: relative;
            top: 270px; 
            left:100px;
        }
    </style>
</head>
<body>

    <div class="container mt-4">

        <h2 class="text-center">Subscrições</h2>
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="~/css/evento1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate congue molestie. Suspendisse potenti. Suspendisse autem tellus eget ex consectetur, in tempor nisi scelerisque.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="~/css/evento1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate congue molestie. Suspendisse potenti. Suspendisse autem tellus eget ex consectetur, in tempor nisi scelerisque.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="~/css/evento1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate congue molestie. Suspendisse potenti. Suspendisse autem tellus eget ex consectetur, in tempor nisi scelerisque.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate congue molestie. Suspendisse potenti. Suspendisse autem tellus eget ex consectetur, in tempor nisi scelerisque.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate congue molestie. Suspendisse potenti. Suspendisse autem tellus eget ex consectetur, in tempor nisi scelerisque.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate congue molestie. Suspendisse potenti. Suspendisse autem tellus eget ex consectetur, in tempor nisi scelerisque.
            .
        </p>

        <h2 class="text-center">Atividades extras curriculares</h2>
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="~/css/evento1.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="~/css/evento1.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="~/css/evento1.jpg" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate congue molestie. Suspendisse potenti. Suspendisse autem tellus eget ex consectetur, in tempor nisi scelerisque.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate congue molestie. Suspendisse potenti. Suspendisse autem tellus eget ex consectetur, in tempor nisi scelerisque.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate congue molestie. Suspendisse potenti. Suspendisse autem tellus eget ex consectetur, in tempor nisi scelerisque.
        </p>

        <div class="parte-dois">
            <div class="metade">
                <form action="/SubscricaosSimulador/Select" method="post">
                    <div class="form-group">
                        <label for="DataNascimento">Data de Nascimento:</label>
                        <input type="date" id="DataNascimento" name="DataNascimento">
                    </div>
                    <div class="form-group">
                        <label for="DataInicio">Data de DataInicio:</label>
                        <input type="date" id="DataInicio" name="DataInicio">
                    </div>

                    <label for="Subscricao">Tipo de subscrição:</label>
                    <div class="form-group" class="form-control mb-3">
                        <h2>Subscricao:</h2>
                        <select name="Subscricao" id="Subscricao" asp-items="ViewBag.Subscricao" class="custom-select mt-5 pt-3 " multiple></select>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="taekwondo">
                        <label class="form-check-label" for="taekwondo">Taekwondo</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ingles">
                        <label class="form-check-label" for="ingles">Inglês</label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="danca">
                        <label class="form-check-label" for="danca">Dança</label>
                    </div>

                    <div class="form-control mb-3">
                        <label for="nparcial">Ano letivo parcial, quantos meses:</label>
                        <input type="number" id="nparcial" name="nparcial" min="0">
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="anoCompleto">
                        <label class="form-check-label" for="anoCompleto">Ano letivo completo:</label>
                        <label class="form-check-label ml-2" for="anoCompleto">Sim</label>
                    </div>
                
                    <button class="btn btn-primary mt-3">Confirmar</button>
                </form>
            </div>

            <div class="vaga-box">
                @ViewBag.Vaga
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
