<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Somos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <style>
        .main-image {
            width: 100%; 
            height: 40vh; 
            display: block;
            margin: 20px auto; 
        }

        .contact-section {
            background-color: #e4e4e4; 
            padding: 20px;
            margin-top: 30px;
            border-radius: 5px;
        }

        .social-icons i {
            width: 24px; 
            margin: 5px;
        }

        .send-button {
            background-color: darkgoldenrod;
            color: black;
            border: none;
        }
    </style>
</head>
<body>

    <div class="container mt-5">
        <div class="text-block">
            <p>
                A Academia dos Peixinhos, Creches em Odivelas, Jardim de infância em Odivelas nasceu em 2007, e foi criada após a abertura com sucesso da instituição "Creche o Peixinho Amarelo". Tem as valências de creche e jardim-de-infância. Com mais interrogações do que certezas e, partindo de uma forma de agir não acomodada, temos vindo a desenvolver um sólido processo educativo. Partindo de objetivos comuns como o bem-estar emocional, físico e intelectual das crianças, procuramos funcionar em sintonia com as famílias, dada a importância desta ligação e dos contributos mútuos. Vemos assim a Instituição Escolar como um prolongamento da família, acreditando, na criação sentida e pensada de um ambiente familiar no dia-a-dia da Academia dos Peixinhos, Creches em Odivelas, Jardim de infância em Odivelas. <br /><br />
                A nossa escola encontra-se licenciada pelas autoridades competentes com alvará da Segurança Social para o exercício da sua atividade (infantários, creches, jardins-de-infância), obedecendo assim a um conjunto de regras fundamentais de segurança. Possui um espaço com as condições necessárias e adequado às diferentes faixas etárias, respeitando as normas exigidas de acordo com a legislação em vigor e mais as que achemos necessárias em termos de segurança e também higiene.<br /><br />

                Dedicamos um especial cuidado à segurança evitando todos os tipos de elementos passíveis de provocar acidentes. Todas as salas possuem boa luminosidade natural e artificial, os espaços são amplos e adequados a cada idade. Temos um espaço exterior com uma horta pedagógica, tudo para que as nossas crianças se sintam felizes no nosso espaço.<br /><br />

                A história da Academia dos Peixinhos, Creches em Odivelas, Jardim de infância em Odivelas é feita todos os dias com a alegria das crianças, o apoio das famílias, a experiência e dedicação da nossa equipa e a recordação dos bons momentos<br />
            </p>
            <img src="~/css/background.png" alt="Imagem Central" class="main-image">
            <p>
                É indiscutível que os primeiros anos de vida de uma criança são cruciais para o seu desenvolvimento físico, emocional, social e cognitivo. E também para a sua vida futura, como cidadã e como co-construtora da sociedade de amanhã.<br />

                A nossa missão é oferecer cuidados e educação de infância de elevada qualidade.O crescimento, o desenvolvimento equilibrado e global, e a felicidade das crianças que nos são confiadas são a nossa prioridade.<br /><br />

                Pretendemos ser uma extensão vital da família, partilhando o carinho e o interesse pela criança, ajudando a construir o suporte da sua felicidade.<br /><br />

                Tendo por base as Orientações Curriculares e as metas de aprendizagem, propostas pelo Ministério da Educação, é nosso objetivo, oferecer um espaço onde reine a alegria, o carinho, o amor e o respeito por todos. Temos como pilares proporcionar aprendizagens significativas a cada faixa etária e acima de tudo fazer das "nossas" crianças, seres felizes.<br /><br />
                
                Os objetivos gerais estabelecidos para a creche e Jardim de Infância, são os seguintes:<br /><br />

                - Proporcionar às crianças um clima de segurança, afetividade e bem-estar físico e psicológico, procurando responder às suas necessidades e estimulando o seu desenvolvimento global e harmonioso, tendo como base a brincadeira;<br /><br />
                - Proporcionar às crianças experiências e atividades divertidas, aliciantes e prazerosas de modo a captar o interesse, a atenção e participação de cada uma, tendo como suporte o jogo lúdico;<br /><br />
                - Responder às necessidades das crianças, respeitando o ritmo e a personalidade de cada uma, sempre num clima de segurança, afetividade e alegria.<br /><br />
            
            </p>
        </div>
        <div class="container mt-5 contact-section">
            <div class="row">
                <div class="col-md-6">
                    <h3>Contate-Nos</h3>
                    <p>Nosso endereço de correspondência é: geral@academiadospeixinhos.pt</p>
                    <address>
                        Av. Magalhães Coutinho 11<br>
                        2675-654 Odivelas, Portugal<br>
                        Tel. 219 339 754 <br>
                        Fax.219 339 755
                    </address>
                    <div class="social-icons">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-google-plus-g"></i>
                    </div>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Introduza o seu nome">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Introduza um email válido">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" placeholder="Introduza a sua menssagem"></textarea>
                        </div>
                        <button type="submit" class="btn send-button">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-md-start">
                    <h6>Contacto</h6>
                    geral@academiadospeixinhos.pt
                </div>
                <div class="col-md-4 text-md-center">
                    <h6>Funcionamento</h6>
                    Segunda - Sexta<br />
                    07:30 - 19:00
                    <div>
                        <a href="politica-de-privacidade" class="text-muted">Política de Privacidade</a>
                    </div>
                </div>
                <div class="col-md-4 text-md-end">
                    <h6>Localização</h6>
                    Av. Magalhães Coutinho Nº 11 - A
                    Urb. Colinas do Cruzeiro<br />
                    2675-654 Odivelas
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
