@model academiadospeixinhoscloud.Models.Sala

@{
    ViewData["Title"] = "Editar Sala";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-5">
    <h1>Editar Sala</h1>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Nome" class="control-label">Nome</label>
                    <input asp-for="Nome" class="form-control" placeholder="Nome da Sala" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Descricao" class="control-label">Descrição</label>
                    <input asp-for="Descricao" class="form-control" placeholder="Descrição da Sala" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="VagasPreenchidas" class="control-label">Vagas Preenchidas</label>
                    <input asp-for="VagasPreenchidas" type="number" class="form-control" placeholder="Número de Vagas Preenchidas" />
                    <span asp-validation-for="VagasPreenchidas" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="VagasTotal" class="control-label">Total de Vagas</label>
                    <input asp-for="VagasTotal" type="number" class="form-control" placeholder="Capacidade Total de Vagas" />
                    <span asp-validation-for="VagasTotal" class="text-danger"></span>
                </div>

                <!-- Repita -->

                <div class="form-group">
                    <label asp-for="NomesSubscricoes" class="control-label">Subscrições</label>
                    <select asp-for="NomesSubscricoes" asp-items="ViewBag.NomesSubscricoes" class="form-control" multiple>
                    </select>
                    <span asp-validation-for="NomesSubscricoes" class="text-danger"></span>
                </div>

                <div class="form-group text-right">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
                </div>
            </form>
        </div>
    </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
